<div class="bg-neutral-50 h-screen flex items-center justify-center">
    <div class="bg-white w-96 rounded-2xl border border-neutral-200 shadow px-5 py-8">
        <h4 class="text-xl font-semibold text-center">Create an account</h4>
        <form [formGroup]="registerForm" class="w-full flex flex-col items-center justify-center gap-5 mt-8">
            <div class="px-5">
                <label class="text-sm font-medium">Username</label>
                <input type="text" name="username" class="w-full px-4 py-2 rounded-lg border border-neutral-300" formControlName="username">
                <span *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched" class="text-sm text-red-500 mt-1 font-medium">Username is required</span>
            </div>
            <div class="w-full px-5">
                <label>Email</label>
                <input type="email" name="email" class="w-full px-4 py-2 rounded-lg border border-neutral-300" formControlName="email">
                <span *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="text-sm text-red-500 font-medium">Email is required</span>
            </div>
            <div class="px-5">
                <label class="text-sm font-medium">Password</label>
                <input type="password" name="password" minlength="6" class="w-full px-4 py-2 rounded-lg border border-neutral-300" formControlName="password">
                <span *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="text-sm text-red-500 font-medium">Password is required</span>
                <span *ngIf="registerForm.get('password')?.hasError('minlength')" class="text-sm text-red-500 font-medium">Minimum 6 characters required</span>
            </div>
            <div class="w-full px-5">
                <button [hidden]="registerForm.invalid" (click)="handleRegister()" type="submit" class="w-full py-2.5 text-sm rounded-lg bg-black text-white">Create account</button>
                <button [hidden]="registerForm.valid" class="w-full py-2.5 text-sm rounded-lg bg-neutral-400 text-white cursor-auto">Create account</button>
            </div>
        </form>
        <div class="text-center mt-5">
            <span class="text-sm font-medium">Already have an account? <span routerLink="/login" class="underline cursor-pointer">Sign in</span></span>
        </div>
    </div>
</div>